
<div class="post">

<h2><%= "Logoff".t  %></h2>
<div class="post-content">
<p class="meta alt"><%= "Cease work on Tukia and disassociate your session from your user credentials.".t %></p>
<p><%= "You are now logged out of the system...".t %></p>
<p class="meta">
<%= link_to "&#171; login", :action=>"login"%>  
</p>

</div>

</div>


