<div class="post">

<h2><%= "Welcome to Tukia!".t  %></h2>
<div class="post-content">
<p class="meta alt"><%="Useful statistical information.".t %></p>


<p>Terms: <%=h Term.count %></p>

<p class="meta">
<%= "Use the buttons on the left-hand side to navigate the Tukia system.".t %>
</p>

</div>

</div>
