<div class="post">

<h2><%= "Welcome to Tukia!".t  %></h2>
<div class="post-content">
<p class="meta alt"><%= "Main page! blurb goes here?".t %></p>


<p>I am some content!</p>

<p class="meta">
meta text!
</p>

</div>

</div>
