<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Tukia</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= auto_discovery_link_tag :rss, :controller => 'xml', :action => 'rss'%>
<%= stylesheet_link_tag "/stylesheets/phokus.css" %>
<!--[if lte IE 7.0]>
<%= stylesheet_link_tag "/stylesheets/phokus-ie.css" %>
<![endif]-->
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "effects" %>
<%= javascript_include_tag "phokus" %>
<%= javascript_include_tag "fckeditor" %>
</head>
<body>
<div id="page">

<div id="header">
<h1>Tukia</h1>
<small>Controlled Vocabulary and Document Management System</small>

</div>

<div id="main">
<%= @content_for_layout %>
</div><!-- #main -->

<div id="sidebar">
<div id="search" class="sidebar-node">
<%= start_form_tag({:controller => 'terms',  :action => 'search'}, {:method => 'get', :id => 'sform'}) %>
<label for="q">Search</label> <input type="text" id="q" name="q" value="" size="15" />
<span id="search_spinner" style="display:none"></span>
<%= end_form_tag %>
<div id="search-results"></div>
<%= observe_field "q", :frequency => 1,
    :url => { :controller => "terms", :action => "live_search" },
    :loading => "Element.show('search_spinner')",
    :complete => "Element.hide('search_spinner')",
    :update => "search-results",
    :with => "'q=' + escape($F('q'))" -%>

</div>

      
<div class="sidebar-node">
<h3>Resources</h3>

<ul>
  <li><%= link_to("Main".t, "/site/welcome") %></li>
  <li><%= link_to("Projects".t, "/projects") %></li>
  <li><%= link_to("Terms and Definitions".t, "/terms") %></li>
  <li><%= link_to("Documents".t, "/documents") %></li>
  <li><%= link_to("Committees".t, "/committees") %></li>
  <li><%= link_to("National Bodies/Liaison".t, "/nations") %></li>
  <li><%= link_to("Report Generation".t, "/reports") %></li>
  <li><%= link_to("Directory".t, "/people") %></li>
</ul>
</div>

<div class="sidebar-node">
<h3>System</h3>
<ul>
<li><%= link_to("Logout".t, :controller => "people", :action => "logout") %></li>
</ul>

</div>

</div><!-- #sidebar -->

<div id="footer">
<div id="badges">
<ul>
<li><a href="http://validator.w3.org/check?uri=referer"><img src="/images/theme/btn-xhtml.gif" alt="Validate XHTML 1.0" /></a></li>
<li><a href="http://jigsaw.w3.org/css-validator/validator?uri=?uri=referer"><img src="/images/theme/btn-css.gif" alt="Validate CSS" /></a></li>
<li><a href="http://getfirefox.com/"><img src="/images/theme/btn-firefox.gif" alt="Get Firefox" /></a></li>
</ul>
</div>
<p>Tukia <%=h tukia_version %> -- 
Theme Credits: <a href="http://phonophunk.com/typo-themes/">Phokus</a> by <a href="http://phonophunk.com/">John Serris</a></p>
</div><!-- #footer -->

</div><!-- #page -->
</body>
</html>
