<div class="post">

<h2><%= "Report: ".t + @report.name  %></h2>
<div class="post-content">
<p class="meta alt"><%= "View a report job's properties.".t %></p>

<p>
  <b><%= "Name".t %>:</b> <%=h @report.name %>
</p>

<p>
  <b><%= "Template".t %>:</b> <%=h @report.template %>
</p>

<p class="meta">
<%= link_to 'Run Report', :action => @report.template, :id => @report %> |
<%= link_to 'Edit', :action => 'edit', :id => @report %> |
<%= link_to 'Back', :action => 'list' %>
</p>

</div>
</div>