<h1>New National Body</h1>

<p>Here you (admin) may create new National Bodies, as delegations to Committees.

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= collection_select( :nation, :globalize_country_id, @gcountries, :id, :english_name )%>
  <br/>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
