<h1>New National Body/Liason Organisation</h1>

<p>Here you (admin) may create new National Bodies, as delegations to Committees.

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
